altgraph
anyio
beautifulsoup4
Brotli
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
copier
cryptography
csscompressor
datauri
decorator
Deprecated
deprecation
diff-match-patch
dunamai
et-xmlfile
exceptiongroup
feedparser
flatbuffers
funcy
googletrans
gTTS
h11
h2
hpack
hstspreload
htmlmin
httpcore
httpx
humanfriendly
hyperframe
idna
imageio
imageio-ffmpeg
importlib-metadata
iniconfig
jaconv
jeraconv
Jinja2
jinja2-ansible-filters
jsmin
keyboard
lxml
magika
Markdown
MarkupSafe
mdx-truly-sane-lists
mistune
MouseInfo
moviepy
mpmath
mutagen
numpy
oauthlib
onnxruntime
opencv-python
openpyxl
ordered-set
packaging
pathspec
pefile
Pillow
pillow-heif
pip-licenses
playsound3
pluggy
plumbum
prettytable
proglog
prompt-toolkit
protobuf
psutil
PyAutoGUI
pycparser
pycryptodome
pycryptodomex
pydantic
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
pykakasi
PyMsgBox
pynput
pyotp
pypdf
pyperclip
pypng
pyreadline3
PyRect
PyScreeze
pystray
pytesseract
pytest
python-dotenv
pytweening
pywin32
pywin32-ctypes
PyYAML
pyyaml-include
pyzipper
qrcode
questionary
randomuser
repath
requests
rfc3986
sgmllib3k
six
sniffio
soupsieve
SpeechRecognition
speedtest-cli
sv-ttk
svgwrite
sympy
tabulate
tkinterdnd2
tkinterweb
tomli
tqdm
ttkthemes
typing_extensions
urllib3
watchdog
wcwidth
websocket-client
websockets
win32-setctime
winotify
wrapt
youtube-transcript-api
yt-dlp
zipp
