beautifulsoup4
chardet
csscompressor
opencv-python
datauri
diff-match-patch
googletrans
gtts
htmlmin
jaconv
jeraconv
jsmin
keyboard
magika
markdown
mdx-truly-sane-lists
mistune
moviepy
mutagen
numpy
openpyxl
pillow
pillow-heif
playsound3
psutil
pyautogui
pycryptodome
pygments
pykakasi
pynput
pyotp
pypdf
pyperclip
pystray
pywin32
pyyaml
pyzipper
qrcode
randomuser
requests
speechrecognition
speedtest-cli
sv-ttk
svgwrite
tkinterdnd2
tkinterweb
ttkthemes
winotify
win32-setctime
youtube-transcript-api
yt-dlp